@charset "utf-8";
/* CSS Document */

html,body{
    font-family: 'BebasRegular';
	width:100%;
	height:100%;
	
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
	
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
	
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
	
}

.logo{
    position:fixed;
    width:150px;
    top:50px;
    right:30px;
    z-index:1;
    opacity: 0.5;
    
    -moz-transform:rotate(30deg); /* Firefox 3.6 Firefox 4 */
    -webkit-transform:rotate(30deg); /* Safari */
    -o-transform:rotate(30deg); /* Opera */
    -ms-transform:rotate(30deg); /* IE9 */
    transform:rotate(30deg); /* W3C */
    
}

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
	
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
	
}
.slideno{
    
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
	
}

.buttonList{
    
	z-index:99;
	position: absolute;
    top: 50%;
    right: 0px;
	width: 50px;
	height: 100px;
	margin-top: -50px;
	
}

.buttondown{
    
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	background-image:url(../images/Button-Grey-Arrow-Down-icon.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	
}
.buttondown:hover{
    
	background-color:#494949;
	cursor:pointer;
	
}

.buttontop{
    
	display:block;
	width:50px;
	height:50px;
	position:absolute;
    top:0px;
	background-image:url(../images/Button-Grey-Arrow-Up-icon.png);
		background-repeat: no-repeat;
	background-size: 100% auto;
	
}
.buttontop:hover{
    
	background-color:#494949;
	cursor:pointer;
	
}

.welcomebutton{
	display:block;
	width:100;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
}
.welcomebutton:hover{
	background-color:#494949;
	color:#FFFFFF;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
    background-color:#5c9900;
}

#slide1 .wrapper{
    height: 100%;
    width: 100%;
}

#slide1 .welcomeMainDiv{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -100px;
    height: 100px;
    width: 800px;
}


/******************************
 SLIDE 2 
*******************************/
#slide2{
    background-color:#005c99;
     
}
#slide2 img:first-child{
    position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
    position:absolute;
    top:300px;
    left:100px;
}
#slide2 img:nth-child(3){
    position:absolute;
    top:600px;
    left:300px;
}
#slide2 img:nth-child(4){
    position:absolute;
    top:400px;
    left:300px;
}
#slide2 img:nth-child(5){
    position:absolute;
    top:600px;
    right:300px;
}
#slide2 img:nth-child(6){
    position:absolute;
    top:600px;
    right:300px;
}
#slide2 img:nth-child(7){
    position:absolute;
    top:400px;
    right:100px;
}
#slide2 img:nth-child(8){
    position:absolute;
    top:100px;
    right:300px;
}

/****************************** SLIDE 3 *******************************/ 
#slide3 {   
    background-color:#b6c10b;  
}  


/****************************** SLIDE 4 *******************************/ 
#slide4 {   
    background-color:#b6c10b;  
}  
#slide4 img:first-child {   
    position:absolute;  
    top: 700px;  
    left: 300px; 
}  
#slide4 img:nth-child(2){   
    position:absolute;      
    top:100px;      
    left:100px;  
}  
#slide4 img:nth-child(3){   
    position:absolute;      
    top:150px;      
    left:300px;  
}  
#slide4 img:nth-child(4){   
    position:absolute;      
    top:450px;      
    left:300px; 
}  
#slide4 img:nth-child(5){   
    position:absolute;      
    top:200px;      
    right:300px;  
}  
#slide4 img:nth-child(6){   
    position:absolute;      
    top:100px;      
    right:300px;  
}

/****************************** SLIDE 5 *******************************/ 
#slide5 {   
    background-color:#b6c10b;  
}  
#slide5 img:first-child {   
    position:absolute;  
    top: 700px;  
    left: 300px; 
}  
#slide5 img:nth-child(2){   
    position:absolute;      
    top:100px;      
    left:100px;  
}  
#slide5 img:nth-child(3){   
    position:absolute;      
    top:150px;      
    left:300px;  
}  
#slide5 img:nth-child(4){   
    position:absolute;      
    top:450px;      
    left:300px; 
}  
#slide5 img:nth-child(5){   
    position:absolute;      
    top:200px;      
    right:300px;  
}  
#slide5 img:nth-child(6){   
    position:absolute;      
    top:100px;      
    right:300px;  
}

/****************************** SLIDE 6 *******************************/ 
#slide6 {   
    background-color:#b6c10b;  
}  
#slide6 img:first-child {   
    position:absolute;  
    top: 700px;  
    left: 300px; 
}  
#slide6 img:nth-child(2){   
    position:absolute;      
    top:100px;      
    left:100px;  
}  
#slide6 img:nth-child(3){   
    position:absolute;      
    top:150px;      
    left:300px;  
}  
#slide6img:nth-child(4){   
    position:absolute;      
    top:450px;      
    left:300px; 
}  
#slide6 img:nth-child(5){   
    position:absolute;      
    top:200px;      
    right:300px;  
}  
#slide6 img:nth-child(6){   
    position:absolute;      
    top:100px;      
    right:300px;  
}


/****************************** SLIDE 7 *******************************/ 
#slide7 {   
    background-color:#b6c10b;  
}  
#slide7 img:first-child {   
    position:absolute;  
    top: 700px;  
    left: 300px; 
}  
#slide7 img:nth-child(2){   
    position:absolute;      
    top:100px;      
    left:100px;  
}  
#slide7 img:nth-child(3){   
    position:absolute;      
    top:150px;      
    left:300px;  
}  
#slide7img:nth-child(4){   
    position:absolute;      
    top:450px;      
    left:300px; 
}  
#slide7 img:nth-child(5){   
    position:absolute;      
    top:200px;      
    right:300px;  
}  
#slide7 img:nth-child(6){   
    position:absolute;      
    top:100px;      
    right:300px;  
}

.info{
   padding-left:150px;
   padding-top:150px;
   font-weight:bold;
   font-size: 30px;
}

.info li{
    list-style:outside;   
}

.info ul{
    padding-left:20px;
}

.info ol{
    padding-left:20px;
}
